.card {
  --edge-proximity: 0;
  --cursor-angle: 45deg;
  --edge-sensitivity: 30;
  --color-sensitivity: calc(var(--edge-sensitivity) + 20);
  --border-radius: 28px;
  --glow-padding: 40px;
  --cone-spread: 25;

  position: relative;
  isolation: isolate;
  display: grid;
  overflow: visible;
  border: 1px solid rgb(255 255 255 / 14%);
  border-radius: var(--border-radius);
  background: var(--card-bg, #120f17);
  transform: translate3d(0, 0, 0.01px);
  box-shadow:
    rgb(0 0 0 / 12%) 0 1px 2px,
    rgb(0 0 0 / 12%) 0 4px 12px,
    rgb(0 0 0 / 22%) 0 22px 54px;
}

.card::before,
.card::after,
.card > .edgeLight {
  position: absolute;
  z-index: -1;
  border-radius: inherit;
  content: "";
  inset: 0;
  transition: opacity 0.25s ease-out;
}

.card:not(:hover):not(.sweepActive)::before,
.card:not(:hover):not(.sweepActive)::after,
.card:not(:hover):not(.sweepActive) > .edgeLight {
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}

.sweepActive {
  --sweep-active: 1;
}

.card::before {
  border: 1px solid transparent;
  background:
    linear-gradient(var(--card-bg, #120f17) 0 100%) padding-box,
    linear-gradient(rgb(255 255 255 / 0%) 0% 100%) border-box,
    var(--gradient-one, radial-gradient(at 80% 55%, #2563eb 0, transparent 50%)) border-box,
    var(--gradient-two, radial-gradient(at 69% 34%, #38bdf8 0, transparent 50%)) border-box,
    var(--gradient-three, radial-gradient(at 8% 6%, #818cf8 0, transparent 50%)) border-box,
    var(--gradient-four, radial-gradient(at 41% 38%, #2563eb 0, transparent 50%)) border-box,
    var(--gradient-five, radial-gradient(at 86% 85%, #38bdf8 0, transparent 50%)) border-box,
    var(--gradient-six, radial-gradient(at 82% 18%, #818cf8 0, transparent 50%)) border-box,
    var(--gradient-seven, radial-gradient(at 51% 4%, #38bdf8 0, transparent 50%)) border-box,
    var(--gradient-base, linear-gradient(#2563eb 0 100%)) border-box;
  opacity: calc((var(--edge-proximity) - var(--color-sensitivity)) / (100 - var(--color-sensitivity)));
  mask-image:
    conic-gradient(
      from var(--cursor-angle) at center,
      black calc(var(--cone-spread) * 1%),
      transparent calc((var(--cone-spread) + 15) * 1%),
      transparent calc((100 - var(--cone-spread) - 15) * 1%),
      black calc((100 - var(--cone-spread)) * 1%)
    );
}

.card::after {
  border: 1px solid transparent;
  background:
    var(--gradient-one, radial-gradient(at 80% 55%, #2563eb 0, transparent 50%)) padding-box,
    var(--gradient-two, radial-gradient(at 69% 34%, #38bdf8 0, transparent 50%)) padding-box,
    var(--gradient-three, radial-gradient(at 8% 6%, #818cf8 0, transparent 50%)) padding-box,
    var(--gradient-four, radial-gradient(at 41% 38%, #2563eb 0, transparent 50%)) padding-box,
    var(--gradient-five, radial-gradient(at 86% 85%, #38bdf8 0, transparent 50%)) padding-box,
    var(--gradient-six, radial-gradient(at 82% 18%, #818cf8 0, transparent 50%)) padding-box,
    var(--gradient-seven, radial-gradient(at 51% 4%, #38bdf8 0, transparent 50%)) padding-box,
    var(--gradient-base, linear-gradient(#2563eb 0 100%)) padding-box;
  mask-composite: subtract, add, add, add, add, add;
  mask-image:
    linear-gradient(to bottom, black, black),
    radial-gradient(ellipse at 50% 50%, black 40%, transparent 65%),
    radial-gradient(ellipse at 66% 66%, black 5%, transparent 40%),
    radial-gradient(ellipse at 33% 33%, black 5%, transparent 40%),
    radial-gradient(ellipse at 66% 33%, black 5%, transparent 40%),
    radial-gradient(ellipse at 33% 66%, black 5%, transparent 40%),
    conic-gradient(from var(--cursor-angle) at center, transparent 5%, black 15%, black 85%, transparent 95%);
  mix-blend-mode: soft-light;
  opacity: calc(var(--fill-opacity, 0.5) * (var(--edge-proximity) - var(--color-sensitivity)) / (100 - var(--color-sensitivity)));
}

.card > .edgeLight {
  z-index: 1;
  pointer-events: none;
  inset: calc(var(--glow-padding) * -1);
  mask-image:
    conic-gradient(
      from var(--cursor-angle) at center,
      black 2.5%,
      transparent 10%,
      transparent 90%,
      black 97.5%
    );
  mix-blend-mode: plus-lighter;
  opacity: calc((var(--edge-proximity) - var(--edge-sensitivity)) / (100 - var(--edge-sensitivity)));
}

.card > .edgeLight::before {
  position: absolute;
  border-radius: inherit;
  box-shadow:
    inset 0 0 0 1px var(--glow-color, hsl(200deg 95% 70% / 100%)),
    inset 0 0 1px 0 var(--glow-color-60, hsl(200deg 95% 70% / 60%)),
    inset 0 0 3px 0 var(--glow-color-50, hsl(200deg 95% 70% / 50%)),
    inset 0 0 6px 0 var(--glow-color-40, hsl(200deg 95% 70% / 40%)),
    inset 0 0 15px 0 var(--glow-color-30, hsl(200deg 95% 70% / 30%)),
    inset 0 0 25px 2px var(--glow-color-20, hsl(200deg 95% 70% / 20%)),
    inset 0 0 50px 2px var(--glow-color-10, hsl(200deg 95% 70% / 10%)),
    0 0 1px 0 var(--glow-color-60, hsl(200deg 95% 70% / 60%)),
    0 0 3px 0 var(--glow-color-50, hsl(200deg 95% 70% / 50%)),
    0 0 6px 0 var(--glow-color-40, hsl(200deg 95% 70% / 40%)),
    0 0 15px 0 var(--glow-color-30, hsl(200deg 95% 70% / 30%)),
    0 0 25px 2px var(--glow-color-20, hsl(200deg 95% 70% / 20%)),
    0 0 50px 2px var(--glow-color-10, hsl(200deg 95% 70% / 10%));
  content: "";
  inset: var(--glow-padding);
}

.inner {
  position: relative;
  z-index: 1;
  display: flex;
  min-width: 0;
  flex-direction: column;
  overflow: visible;
}
